<h1>Music Finder</h1>

<form ng-submit="search()">
  <md-input-container>
    <input type="text" ng-model="searchVal"></input>
  </md-input-container>
  <md-button type="submit">Search</md-button>
</form>

<md-card class="artist featuredArtist" ng-show="showArtist">
  <div>{{featuredArtist.artistName}}</div>
  <img src={{featuredArtist.artistImg}} />
</md-card>

<section class="relatedArtists" ng-show="showRelated" layout="row" layout-wrap>
  <md-card flex="15" ng-repeat="artist in relatedArtists"  class="relatedArtist">
    <div>{{artist.artistName}}</div>
    <img src={{artist.artistImg}} />
  </md-card>
